$delay: 1s;
$delay-big: 1s;

$black: #000000;
$white: #ffffff;
$gray: #6b6b6b;
$blue: #4da2ff;

$text_dark: #061220;
$text_light: rgba(0, 0, 0, 0.64);

$border_regular: #cccccc;
$border_active: #4da2ff;
$red_error: #ed1c24;
$border_delay: 0.5s;